<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
</head>
<body>
    <h1>Flask app</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati laudantium ratione cupiditate consequuntur laborum ut labore. Aperiam vel quo velit magnam fugiat asperiores, culpa delectus aliquid, sapiente ratione, impedit fuga?</p>
    <img src="static\images\d1.jpg" alt="" widht="500">
</body>
</html>