{% extends 'base.html' %}

{% block css %}
<style>
    div {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid black;
        border-radius: 24px;
    }
    h1 {
        text-align: center;
        color: black;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    label {
        font-weight: bold;
        color: red;
    }
    input {
        padding: 10px;
        width: 80%;
        border-radius: 5px;
        border: 1px solid black;
    }
    button {
        background-color: chocolate;
        color: white;
        width: 70%;
        margin-top: 20px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover {
        background-color: blueviolet;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <h1>Login Page</h1>
    <form>
        <label>Email:</label>
        <input type="text">

        <label>Password:</label>
        <input type="password">

        <button type="submit">Login</button>
    </form>
    <p>Don't have an account ? <a href="/signup">signup</a> </p>
</div>

{% endblock %}