{% extends "base.html" %}

{% block css %}
<style>
    div{
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid black;
        border-radius: 24px;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <h1>Login</h1>
    <form>
        <label">Email</label>
        <input type="text">

        <label>Password</label>
        <input type="password">

        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/signup">Sign up</a> </p>
</div>
{% endblock %}